html, body, #root, #App {
	height: 100%;
}

.ant-card {
  margin-bottom: 15px;
}


// screen transitions

.screen-fade-enter {
  opacity: 0;
  height: 0;
}

.screen-fade-enter-active {
  opacity: 1;
  transition: opacity 250ms;
  transition-delay: 150ms;
}

.screen-fade-exit {
  opacity: 1;
}

.screen-fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 150ms, transform 150ms;
}
